img {
    max-width: 900px;
    opacity: 0.3;
    animation: hide 1s forwards;
}

body {
    width: 100vw;
    overflow: hidden;
    height: 100vh;
    background-color: rgb(119, 38, 38);
}

section {
    margin: 0 auto;
    max-width: 900px;
    display: block;
    position: relative;
}

section button {
    height: 100%;
    width: 50px;
    z-index: 20;
    top: 0;
    cursor: pointer;
    position: absolute;
    border: 0;
    background-color: rgba(172, 157, 157, 0.466);
}
section .left_btn {
    left: 0;
}
section .right_btn {
    right: 0;
}

@keyframes hide {
    from {
        opacity: 0.3;
    }
    to {
        opacity: 1;
    }
}